@model IEnumerable<TallerEntity.Models.CustomerReservationsView>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameCustomer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodeRoom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameCustomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodeRoom)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomerID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CustomerID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CustomerID">Delete</a> |
                <a asp-action="FindReservation" asp-route-id="@item.CustomerID">Reservation</a>
                    <a asp-action="CustomerCompanion" asp-route-id="@item.CustomerID"> Create Companion</a>
                    <a asp-action="FindCustomerCompanion" asp-route-id="@item.CustomerID"> Find Companions</a>
            </td>
        </tr>
}
    </tbody>
</table>
